@model HostingProject.Models.AccountGetViewModel


@{
    ViewData["Title"] = "Accounts";
}

<div class="container-fluid">
    <div class="account-container">
        <div class="row mt-3">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin: 0;">
                <div class="row">
                    <div class="col-md-12 account-form">
                        <div class="row mb-3">
                            <div class="col-md-6 account-toggle">
                                <button class="" value="Register" id="reg-form-collapse">Register</button>
                            </div>
                            <div class="col-md-6 account-toggle">
                                <button class="" value="Login" id="login-form-collapse">Login</button>
                            </div>
                        </div>
                        <form method="post" asp-action="Register" asp-controller="Account" id="reg-form" style="display:none;">
                            <div id="ErrorMsgReg"></div>
                            <input type="hidden" name="FormType" value="Register" />

                            <div class="form-group">
                                <label asp-for="register.FName" class="control-label">First Name</label>
                                <input asp-for="register.FName" class="form-control" />
                                <span asp-validation-for="register.FName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="register.LName" class="control-label">Last Name</label>
                                <input asp-for="register.LName" class="form-control" />
                                <span asp-validation-for="register.LName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="register.Email" class="control-label"></label>
                                <input asp-for="register.Email" class="form-control" />
                                <span asp-validation-for="register.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="register.Password" class="control-label"></label>
                                <input asp-for="register.Password" class="form-control" />
                                <span asp-validation-for="register.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="register.PasswordConfirmed" class="control-label"> Confirm Password</label>
                                <input asp-for="register.PasswordConfirmed" class="form-control" />
                                <span asp-validation-for="register.PasswordConfirmed" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>

                        <form method="post" asp-action="Login" asp-controller="Account" id="login-form" style="display:none">
                            <!--<input type="hidden" name="FormType" value="Login" />-->
                            <div class="text-danger" id="ErrorMsgLogin"></div>
                            <div class="form-group">
                                <label asp-for="login.Email" class="control-label"></label>
                                <input asp-for="login.Email" class="form-control" />
                                <span asp-validation-for="login.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="login.Password" class="control-label"></label>
                                <input asp-for="login.Password" class="form-control" />
                                <span asp-validation-for="login.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
     </div>
</div>



<script src="~/js/account.js"></script>






